<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Key0" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
		<add key="serial_swich_port" value="75" />
		<add key="IzmDiamName" value="IzmDiam" />
		<add key="IzmDiamDescription" value="IzmDiamDescription" />
	</appSettings>
</configuration>